<p id="notice"><%= notice %></p>

<h1>Registro de Variables</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Valor</th>
        <th>Fecha del dato</th>
        <th>Variable</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @logvars.each do |logvar| %>
        <tr>
          <td><%= logvar.valor %></td>
          <td><%= logvar.fechaD %></td>
          <td><%= logvar.variable %></td>
          <td><%= link_to '<i class="glyphicon glyphicon-eye-open" title="Mostrar"></i>', logvar %></td>
          <td><%= link_to '<i class="glyphicon glyphicon-edit" title="Editar"></i>', edit_logvar_path(logvar) %></td>
          <td><%= link_to '<i class="glyphicon glyphicon-remove-sign" title="Eliminar"></i>', logvar, method: :delete, data: { confirm: 'Estás segur@?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Nuevo registro', new_logvar_path, class:"btn btn-warning" %>
