<p>  
  <h1>Proceso: <%= @proceso.nombre %></h1>
</p>
<p>Lider de proceso: <%= @proceso.user.name1.capitalize + " " + @proceso.user.ape1.capitalize %></p>
<p>Objetivo Misional: <%= @proceso.objetivo %></p>

<section>
  <h2>Objetivos Visionales</h2>

  <% if @proceso.objetivos.any? %>
    <ul>
      <% @proceso.objetivos.each do |objetivo| %>
        <li><%= link_to objetivo.objetivoV, objetivo %></li>
      <% end %>
    </ul>
  <% else %>
    <p> No hay Objetivos misionales </p>
  <% end %>
</section>

<section>
  <h3>Registros</h3>  

  <% if @proceso.objetivos.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="open">
          <% @proceso.objetivo.indicadors.each do |indicador| %> 
          <tr>
            <th><%= indicador.nombre %></th>
          </tr> 
          <% end %>
        </thead>
        <tbody>
          <% for n in (10..1) %>
          <tr>
            <td><%= n %></td>            
          </tr>         
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
      <p>no hay registros</p>
    <% end %>
</section>

<div id="popup" style="display: none;">
    <div class="content-popup">
        <div class="close"><a href="#" id="close"></a></div>
        <div>
           <h2>Cuadro general de indicadores</h2>
           <table>
             <thead>
               <th>indicador</th>
             </thead>
             <tbody>
               <tr><td>puntaje</td></tr>
             </tbody>
           </table>
        </div>
    </div>
</div>


<%= link_to 'Todos los procesos', procesos_path, class: "btn btn-info"  %>
<% if current_user && @proceso.user_id == current_user %>
  <%= link_to 'Editar', edit_proceso_path(@proceso), class: "btn btn-warning" %>
<% end %> |
<%= link_to 'Atrás', procesos_path, class: "btn btn-default" %>