<%= form_for(@logind) do |f| %>
  <% if @logind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logind.errors.count, "error") %> prohibited this logind from being saved:</h2>

      <ul>
      <% @logind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="meta">
    <%= f.label :Meta %><br>
    <%= f.text_field :meta, value: @logind.mejora(3,@indicador_id) , disabled: true  %>
  </div>
  <div class="field">
    <%= f.label :Estado %><br>
    <%= f.number_field :estado %>
  </div>
  <div class="field">
    <%= f.label :Peor_Escenario %><br>
    <%= f.text_field :peorE, value: 0, disabled: true  %>
  </div>
  <div class="field">
    <%= f.label :Fecha_de_Medición %><br>
    <%= f.date_select :fechaM, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']} %>
  </div>
  <div class="field">
    <%= f.label :Fecha_de_Corte %><br>
    <%= f.date_select :fechaC, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']} %>
  </div>
  <div class="field">
    <%= f.label :Valor %><br>
    <%= f.number_field :valor, value: @logind.get_value, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :valor_Ponderado %><br>
    <%= f.number_field :valorP %>
  </div>
  <div class="field">
    <%= f.label :indicador  %><br>
    <%= text_field_tag :indicador, @indicador_nombre ,disabled: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
