<% if user_signed_in? %>
  <h1>Registros Indicador: </h1>
    <table class="table table-bordered table-hover ">
      <thead>
      <tr> 
        <th></th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>       
      </tr>
              
  </thead>

  <tbody>
    <% @loginds.each do |logind| %>
     <tr>
        <th>Meta</th>
        <td><%= logind.meta %></td>
      </tr>
      <tr>
        <th>Estado Actual</th>
        <td><%= logind.estado %></td>  
      </tr>
      <tr>
        <th>Peor Escenario</th>
        <td><%= logind.peorE %></td>
      </tr>
      <tr>
        <th>Fecha de medición</th>
        <td><%= logind.fechaM %></td>
      </tr>  
      <tr>
        <th>Fecha de corte</th>
        <td><%= logind.fechaC %></td>
      </tr>
      <tr>
        <th>Valor</th>
        <td><%= logind.valor %></td>
      </tr>
      <tr>
        <th>Valor Ponderado</th>
        <td><%= logind.valorP %></td>
      </tr>  
      <tr>
        <th>indicador</th>
        <td><%= logind.indicador %></td>
      </tr> 
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Nuevo registro', new_logind_path, class:"btn btn-warning" %>
<% end %>