<% if user_signed_in? %>
  <h1>Registros Indicador: </h1>
    <table class="table table-bordered table-hover ">
      <thead>
      <tr> 
        <th>2016</th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>       
      </tr>
              
  </thead>

  <tbody>    
    <% @loginds.collect{|logind| [logind.meta]}.transpose.each do |line| %>
      <tr>
        <th>Meta</th>
        <% line.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
    
    <% @loginds.collect{|logind| [logind.estado]}.transpose.each do |line| %>
      <tr>
        <th>Estado Actual</th>
        <% line.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
     
    <% @loginds.collect{|logind| [logind.peorE]}.transpose.each do |line| %>
      <tr>
        <th>Peor Escenario</th>
        <% line.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>

    <% @loginds.collect{|logind| [logind.fechaM]}.transpose.each do |line| %>
      <tr>
        <th>Fecha de medición</th>
        <% line.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>

    <% @loginds.collect{|logind| [logind.fechaC]}.transpose.each do |line| %>
      <tr>
        <th>Fecha de corte</th>
        <% line.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>

    <% @loginds.collect{|logind| [logind.valor]}.transpose.each do |line| %>
      <tr>
        <th>Valor</th>
        <% line.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>

    <% @loginds.collect{|logind| [logind.indicador_id]}.transpose.each do |line| %>
      <tr>
        <th>Indicador</th>
        <% line.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Nuevo registro', new_logind_path, class:"btn btn-warning" %>
<% end %>

    <div>
      <h3>Cálculo mes a mes</h3> 
        <%= line_chart Logind.group_by_month(:valor).count %>
    </div>