<div class="row">
	<div>
		<section class="col-sm-4">
			<%= form_for(@logind) do |f| %>
	    		<% if @logind.errors.any? %>
	      			<div id="error_explanation">
	        			<h2><%= pluralize(@logind.errors.count, "error") %> prohibido este registro para ser guardado:</h2>

				        <ul>
	        			<% @logind.errors.full_messages.each do |message| %>
	          				<li><%= message %></li>
	        			<% end %>
	        			</ul>
	      			</div>
	    		<% end %>
				
				<% mes = {:Enero => 1, :Febrero => 2, :Marzo => 3, :Abril => 4, :Mayo => 5, :Junio => 6, :Julio => 7, :Agosto => 8, :Septiembre => 9, :Octubre => 10, :Noviembre => 11, :Diciembre => 12} %>
				<div class="field">	
	    				<% lista = mes %>
	    				<%= f.label :Mes %><br>
	    				<%= f.select :mes, lista, {include_blank: "- Elegir mes -"}, {:class => 'logbymonth'} %>
	  			</div>
			<% end %>
		</section>
	</div>

	<div class="col-sm-8">
		<section class="containerWaterMark">
			<h1>Nuevo registro de indicador</h1>

			<%= render 'form' %>
		</section>
	</div>
	
	<div>
		<%= link_to 'Atrás', loginds_path, class:"btn btn-default" %>
	</div>