<script type="text/javascript">
	$( document ).ready(function() {
		$("#logind_mes").change(function(){
			
			$("#logind_fechaM_2i").val($("#logind_mes").val());
			
			$("#logind_fechaC_2i").val($("#logind_mes").val());
			
			if($("#logind_mes").val()===2){
				$("#logind_fechaC_3i").val(28);
			}else{
				$("#logind_fechaC_3i").val(30);
			}

			$("#logind_meta").val(<%= get_meta(@indicador.id, 2)%>);
		
		
		
		});

		$('#logind_estado').change(function(){
			$("#logind_valor").val( getValue());
		});


		function getValue(){
			var v1 = $('#logind_estado').val();
			var v2 = $('#logind_meta').val();

			if($('#logind_estado').val() != null  && $('#logind_meta').val()!= null){
		  	return ((v1/ v2)*100).toFixed(2);
			}else{
				return 0;
			}
		}



	});
	</script>

<div class="row">
	<div>
		<section class="col-sm-4">
			<%= form_for(@logind) do |f| %>
	    		<% if @logind.errors.any? %>
	      			<div id="error_explanation">
	        			<h2><%= pluralize(@logind.errors.count, "error") %> prohibido este registro para ser guardado:</h2>
				        <ul>
	        			<% @logind.errors.full_messages.each do |message| %>
	          				<li><%= message %></li>
	        			<% end %>
	        			</ul>
	      			</div>
	    		<% end %>
				<% mes = {:Enero => 1, :Febrero => 2, :Marzo => 3, :Abril => 4, :Mayo => 5, :Junio => 6, :Julio => 7, :Agosto => 8, :Septiembre => 9, :Octubre => 10, :Noviembre => 11, :Diciembre => 12} %>
				<div class="field">	
	    		<% lista = mes %>
	   			<%= f.label :mes %><br>
	 				<%= f.select :mes, lista, {include_blank: "- Elegir mes -"}, {:class => 'logbymonth'} %>
	  			</div>
			<% end %>
		</section>
	</div>
	<div class="col-sm-8">
		<section class="containerWaterMark">
			<h1>Nuevo registro de indicador</h1>
			<%= form_for(@logind) do |f| %>
			  <% if @logind.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@logind.errors.count, "error") %> prohibited this logind from being saved:</h2>
			      <ul>
			      <% @logind.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			  <div class="field" id="meta">
			    <%= f.label :Meta %><br>
			    <%= f.text_field :meta, disabled: true  %>
			  </div>
			  <div class="field">
			    <%= f.label :Estado %><br>
			    <%= f.number_field :estado %>
			  </div>
			  <div class="field">
			    <%= f.label :Peor_Escenario %><br>
			    <%= f.text_field :peorE, value: 0, disabled: true  %>
			  </div>
			  <div class="field">
			    <%= f.label :Fecha_de_Medición %><br>
			    <%= f.date_select :fechaM, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']} %>
			  </div>
			  <div class="field">
			    <%= f.label :Fecha_de_Corte %><br>
			    <%= f.date_select :fechaC, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']} %>
			  </div>
			  <div class="field">
			    <%= f.label :Valor %><br>
			    <%= f.number_field :valor, value: 0, disabled: true %>
			  </div >
			  <div class="field">
			    <%= f.label :indicador  %><br>
			    <%= text_field_tag :indicador, @indicador.nombre ,disabled: true %>
			  </div>
			  <div class="actions">
			    <%= f.submit %>
			  </div>
			<% end %>

		</section>
	</div>
	
	<div>
		<%= link_to 'Atrás', loginds_path, class:"btn btn-default" %>
	</div>