<%= render partial: "get_data" %>
<div class="row">
	<h3 class="text-center">Proceso: <%= @indicador.objetivo.proceso.nombre.capitalize %> ** Indicador: <%= @indicador.nombre %> </h3>
		<section class="col-sm-6">
			<%= form_for(@logind) do |f| %>
	    		<% if @logind.errors.any? %>
	      			<div id="error_explanation">
	        			<h2><%= pluralize(@logind.errors.count, "error") %> prohibido este registro para ser guardado:</h2>
				        <ul>
	        			<% @logind.errors.full_messages.each do |message| %>
	          				<li><%= message %></li>
	        			<% end %>
	        			</ul>
	      			</div>
	    		<% end %>  				

				<div class="field">	
	    			<%= f.label :mes %><br>	 				
	 				<%= f.select :mes, @months, {include_blank: "- Elegir mes -"}, {:class => 'logbymonth'} %>
	  			</div>
			<% end %>
		</section>
	
	<div class="col-sm-6">
		<section class="containerWaterMark">
			<h1 class="text-center">Nuevo registro de indicador</h1>
			<%= form_for(@logind) do |f| %>
			  <% if @logind.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@logind.errors.count, "error") %> prohibited this logind from being saved:</h2>
			      <ul>
			      <% @logind.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			  <div class="field" id="meta">
			    <%= f.label :Meta %><br>
			    <%= f.text_field :meta, disabled: true  %>
			  </div>
			  <div class="field">
			    <%= f.label :Estado %><br>
			    <%= f.number_field :estado %>
			  </div>
			  <div class="field">
			    <%= f.label :Peor_Escenario %><br>
			    <%= f.text_field :peorE, value: 0, disabled: true  %>
			  </div>
			  <div class="field">
			    <%= f.label :Fecha_de_Medición %><br>
			    <%= f.date_select :fechaM, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']} %>
			  </div>
			  <div class="field">
			    <%= f.label :Fecha_de_Corte %><br>
			    <%= f.date_select :fechaC, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']} %>
			  </div>
			  <div class="field">
			    <%= f.label :Valor %><br>
			    <%= f.text_field :valor, value: 0, disabled: true %>
			  </div >
			  <div class="field">
			    <%= f.label :indicador  %><br>
			    <%= text_field_tag :indicador, @indicador.nombre ,disabled: true %>
			  </div>
			  <div class="actions">
			    <%= f.submit %>
			  </div>
			<% end %>

		</section>
	</div>
	
	<div>
		<%= link_to 'Atrás', loginds_path, class:"btn btn-default" %>
	</div>