<p>
  <strong>Meta del indicador:</strong>
  <%= @logind.meta %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @logind.estado %>
</p>

<p>
  <strong>Peores:</strong>
  <%= @logind.peorE %>
</p>

<p>
  <strong>Fecha de medición:</strong>
  <%= @logind.fechaM %>
</p>

<p>
  <strong>Fecha de corte:</strong>
  <%= @logind.fechaC %>
</p>

<p>
  <strong>Valor del mes:</strong>
  <%= @logind.valor %>
</p>

<p>
  <strong>Valor ponderado:</strong>
  <%= @logind.valorP %>
</p>

<p>
  <strong>indicador:</strong>
  <%= @indicador_nombre %>
</p>


<%= link_to 'Editar', edit_logind_path(@logind), class:"btn btn-warning"  %> |
<%= link_to 'Atrás', loginds_path, class:"btn btn-default" %>