<h1>Tablero de Control</h1>

	<div class="row">
		<div class="col-xs-6">
			<h3>Procesos por lider</h3>	
				<%= column_chart @process_count %>
		</div>

		<div class="col-xs-6">
		    <h3>Visits By Country Per Day</h3>
		    <%= line_chart User.pluck("name1").uniq.map { |c| { name: c, data: @users.where(name1: c).group_by_day(:current_sign_in_at, format: "%B %d, %Y").count }  }, discrete: true %> 
		</div>
	</div>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Nombre completo</th>
			<th>username</th>
			<th>Creado</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |u| %>
			<tr>
				<td><%= u.name1.capitalize + " " + u.ape1.capitalize %></td>
				<td><%= u.username %></td>
				<td><%= time_ago_in_words(u.created_at) %></td>
				<td>
					<%= link_to 'Editar', edit_admin_user_path(u) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>