<h1>Listado de Variables</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Unidad</th>
      <th>Valor Periodo Anterior</th>
      <th>Indicador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @variables.each do |variable| %>
      <tr>
        <td><%= variable.nombre %></td>
        <td><%= variable.unidad %></td>
        <td><%= variable.valorPerAnt %></td>
        <td><%= variable.indicador_id %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-eye-open" title="Mostrar"></i>'.html_safe, variable %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-edit" title="Editar"></i>'.html_safe, edit_variable_path(variable) %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-remove-sign" title="Eliminar"></i>'.html_safe, variable, method: :delete, data: { confirm: 'Estás segur@ de eliminar esta variable?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Variable', new_variable_path, class:"btn btn-warning" %>