<%= form_for(@objetivo) do |f| %>
  <% if @objetivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@objetivo.errors.count, "error") %> prohibited this objetivo from being saved:</h2>

      <ul>
      <% @objetivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :valor %><br>
    <%= f.number_field :valor %>
  </div>
  <div class="field">
    <%= f.label :variable_id %><br>
    <%= f.text_field :variable_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>