<p id="notice"><%= notice %></p>

<section class="containerWaterMark">
	<blockquote>
		<p class="bg-info">
		  <strong>Objetivo Misional:</strong>
		  <%= @objetivo.objetivoV %> 
		</p>
	</blockquote> 
	<h2>Indicador: <%= @objetivo.indicador.variableM %></h2>
	 
	<h3 class="text-center"><%= link_to @objetivo.indicador.nombre, indicador_path(@objetivo.indicador) %></h3>
</section> 
 
<%= link_to 'Editar', edit_objetivo_path(@objetivo.indicador), class:"btn btn-warning" %> |
<%= link_to 'Atrás', objetivos_path, class:"btn btn-default" %>